<!DOCTYPE html>
<html lang="en" ng-app="NoteApp">
<head>
    <meta charset="UTF-8">
    <title>Mon application</title>
    <script src="angular.min.js"></script>
    <script src="noteApp.js"></script>
    <script src="noteController.js"></script>
    <script src="angular-cookies.min.js"></script>
    <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <p>Ex1 : Note Application </p>
    <div ng-controller="noteController as Note">
        <div> Message : </div>
        <textarea cols="100" rows="15" data-ng-change="Note.count()" data-ng-model="Note.messageNote"
                  maxlength="100"></textarea><br>
        <input type ="submit" id ="Enregistrer" value ="Enregistrer" name="Enregistrer" data-ng-click="Note.save()">
        <input type ="submit" id ="Effacer" value ="Effacer" name="Effacer" data-ng-click="Note.clear()">
        <div>Nombre de caractères restant : {{Note.caractere}} </div>
        <div class="alert alert-info" data-ng-show ="Note.status" data-ng-class="{'alert-success':Note.information==50,'alert-warning':Note.information==20,
                                      'alert-danger':Note.information==0}"> Note modifiée </div>
        <div class="alert alert-info" data-ng-show ="Note.info" data-ng-class="{'alert-success':Note.information==50}"> Note enregistrée </div>
    </div>
</body>
</html>